body {
	margin: 0;
	padding: 0;
	background: #eaeaea;
}

.navbar {
	display: flex;
	position: fixed;
	align-items: center;
	height: 40px;
	width: 100%;
	background: #eaeaea;
}

.navbar-item {
	margin: 0;
}

.spacer {

}

.navbar-icon {
	height: 40px;
	margin-left: 20px;
	margin-right: 20px;
}

#battisti-livingroom {
	display: block;
	width: 100%;
	height: 700px;
	object-fit: cover;
}

.text-over-image-right {
	position: absolute;
	top: 340px;
	font-size: 20px;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	padding: 10px;
	font-weight: bold;
	right: 2%;
}

.headline-main {
	text-align: center;
	font-size: 22px;
	margin-left: 12%;
	margin-right: 12%;
	margin-top: 30px;
	margin-bottom: 30px;
}

.text-center-main {
	text-align: center;
	font-size: 16px;
	margin-left: 8%;
	margin-right: 8%;
	margin-top: 30px;
	margin-bottom: 30px;
}

.column-container {
	width: 100%;
	display: flex;
	background: #fff;
}

.column-main-33 {
	width: 33%;
	text-align: center;
}

.column-main-50 {
	width: 50%;
	text-align: center;
}

.column-main-67 {
	width: 67%;
	text-align: center;
}

.icon-column-main {
	width: 40px;
	margin: 2%;
}

.title-column-main {
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	padding: 3%;
}

.paragraph-column-main {
	padding: 3%;
}

.accent-2 {
	background: #b5bdbc;
}

#battisti-livingroom-2 {
	width: 100%;
	object-fit: cover;
}

footer {
	background: #cfcabe;
	height: 100px;
}